@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  #root {
    height: 100%;
  }
  
  .flex {
    display: flex;
  }
  .w-73{
    width: 73rem;
  }
  
  .h-screen {
    height: 86vh;
  }
  
  .flex-1 {
    flex: 1;
  }
  
  .p-6 {
    padding: 1.5rem;
  }
  
  .bg-gray-100 {
    background-color: #f7f7f7;
  }
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}